{% extends 'base.html.twig' %}

{% block title %}Monitoring index{% endblock %}

{% block body %}
    <h1>Monitoring index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for monitoring in monitorings %}
            <tr>
                <td>{{ monitoring.id }}</td>
                <td>{{ monitoring.type }}</td>
                <td>{{ monitoring.number }}</td>
                <td>
                    <a href="{{ path('monitoring_show', {'id': monitoring.id}) }}">show</a>
                    <a href="{{ path('monitoring_edit', {'id': monitoring.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('monitoring_new') }}">Create new</a>
{% endblock %}
